@import url('https://fonts.googleapis.com/css?family=Urbanist');

* {
    font-family: 'Urbanist', sans-serif;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.error {
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #fff !important;
    background-color: #ff462d;
}

.error>a {
    color: #e0dfdf;
}